* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* nav */
.header{
    height: 70px;
    background-color: #000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    padding: .5rem;
    display: none;
}

.items-menu {
    font-size: 1.1rem;
    color: #cecece;
    text-decoration: none;
}





.carrito-icon{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    margin: 1.5rem;
    border: none;
    padding: 0.2rem;
    border-radius: .5rem;
}


.boton-abrir-menu {
    font-size: 1.5rem;
    padding: 1rem;
    margin: .5rem;
    border: none;
    color: #cecece;
}



/* Main */


.title-main {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

.title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.title-precio {
    font-size: 1.1rem;
    margin: 1rem;
    padding: .5rem;

}

.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
    margin: 1rem;
    padding: .7rem;
    border-radius: 1.5rem;
}

.card .imagen-producto{

    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    border-radius: .5rem;
}


.card .btn {
    background-color: black;
    color: #cecece;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.card .btn:hover {
    background-color: rgb(175, 175, 175);
    color: #000;
}







/*  carrito estilos */

.carrito-container {
    width: 280px;
    height: 500px;
    background-color: #afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5.5rem 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .9);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 20;
}


.carrito-full {
    position: relative;
}

.carrito-cantidad{
    position:absolute;
    text-align: center;
    background-color: #ff0000;
    color: #000000;
    font-weight: bold;
    border-radius: 50%;
    padding: 4px;
    top: 40px;
    right: 17px;
}

.carrito-content {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
    padding: 1.2rem;
    border-radius: 2rem;
    
}

.carrito-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.li-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title-carrito,
.title-total {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
}

.cerrar-boton {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0 .5rem;
}


.oculto {
    display: none;
}




.carrito-container .productos-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.imagen-carrito{
    width: 100px;
    height: 100px;
}


.total-carrito {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}


.boton-eliminar{
    background-color: #000;
    color: #fff;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.boton-decrementar,
.boton-incrementar {
    background-color: #000;
    color: #fff;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}

.boton-finalizar {
    font-size: 1.2rem;
    background-color: #000;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-right: 1rem;
    padding: .6rem 5rem;
    text-decoration: none;
    font-weight: 400;
}


.carrito{
    padding: 0 .5rem;
}


.cartBtn {
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1rem;
  }
  
  .cart {
    z-index: 2;
  }
  
  .cartBtn:active {
    transform: scale(0.96);
  }
  
  .product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;

    fill: rgb(211, 211, 211);
  }
  
  .cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-30px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(0) rotate(-90deg);
      opacity: 1;
    }
  }
  
  .cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }





  .btn-pay {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
  }
  
  .svgIcon {
    width: 16px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .btn-pay::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .btn-pay:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .btn-pay:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }









@media screen and (min-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
    .carrito-container {
        width: 700px;
    }
    

    .carrito-content-div{
        flex-direction: row;
    }

    .li-content {
        flex-direction: row;
    }

    
}

@media screen and (min-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
    }

    .carrito-container {
        width: 700px;
    }
    

    .carrito-content-div{
        flex-direction: row;
    }

    .li-content {
        flex-direction: row;
    }

    .menu {
        display: flex;
    }

    .boton-abrir-menu {
        display: none;
    }
}