* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    padding: .5rem;
}

.items-menu {
    font-size: 1.1rem;
    color: #cecece;
    text-decoration: none;
}

.carrito{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    margin: 1.5rem;
    border: none;
    padding: 0.2rem;
    border-radius: .5rem;
}



.title-main {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

.title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.title-precio {
    font-size: 1.1rem;
    margin: 1rem;
    padding: .5rem;

}

.contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card{
    width: 50%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
    margin: 1rem;
    padding: .7rem;
    border-radius: 1.5rem;
}

.card .imagen-producto{

    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
    border-radius: .5rem;
}


.card .btn {
    background-color: black;
    color: #cecece;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.card .btn:hover {
    background-color: rgb(175, 175, 175);
    color: #000;
}







/*  carrito estilos */

.carrito-container {
    width: 700px;
    height: 500px;
    background-color: #afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5.5rem 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .9);
    overflow-y: scroll;
    overflow-x: hidden;
}


.carrito-full {
    position: relative;
}

.carrito-cantidad{
    position:absolute;
    text-align: center;
    background-color: #ff0000;
    color: #000000;
    border-radius: 50%;
    padding: 4px;
    top: 40px;
    right: 17px;
}

.carrito-content {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
    padding: 1.2rem;
    border-radius: 2rem;
}

.carrito-content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.li-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.title-carrito,
.title-total {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
}

.cerrar-boton {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0 .5rem;
}


.oculto {
    display: none;
}




.carrito-container .productos-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.imagen-carrito{
    width: 100px;
    height: 100px;
}


.total-carrito {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}


.boton-eliminar{
    background-color: #000;
    color: #fff;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.boton-decrementar,
.boton-incrementar {
    background-color: #000;
    color: #fff;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}




.carrito{
    padding: 0 .5rem;
}